<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>Building Relationships</title>

    <meta charset='utf-8'>
    <script
      src='http://html5slides.googlecode.com/svn/trunk/slides.js'></script>
  </head>
  
  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */
    
    
  </style>

  <body style='display: none'>

    <section class='slides layout-regular'>
      
      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->
      <article>
        <h1>
          Building Relationships... 
          <br>
          And why it matters.
        </h1>
      </article>        
      
      <article>
        <p>
          An implicit part of being at NSS is learning about the Developer Community of Nashville.
        </p>
        <img class='centered' style='height: 500px' src='http://i.giphy.com/ZLGWc3gggY0i4.gif'>
      </article>

      <article>
        <h3>
          Why say you? 
        </h3>
        <ul class="build">
          <li>
            It helps you to build a community around your personal brand.
          </li>
          <li>
            It helps us to give back to the community we are going to join after NSS.
          </li>
          <li>
            It's a lot less scary to interview with people who have had genuine conversations with you before.
          </li>
          <li>
            It helps you grow as a developer to have conversations with people with differing views from your own.
          </li>
        </ul>
      </article>

      <article>
        <h3>
          So how can you get involved? 
        </h3>
        <br>
        <ul class="build">
          <li>
            Follow the NashDev Community Twitter - @nashdevcal
          </li>
          <li>
            Go to Meetups! - http://www.meetup.com/
          </li>
          <li>
            Go to the Code For Nashville Hack Night to work on a project with other devs.
          </li>
          <li>
            Try out a Code and Pinot Night with the Girl Geek Dinner
          </li>
          <li>
            Go to any and all hackathons. 
          </li>
          <li>
            Remember your closest friends through this journey are your classmates. 
          </li>
        </ul>
      </article>

      <article>
        <h3>
          Interested in other avenues other than Meetups? 
        </h3>
        <ul>
          <li>
            Conferences
          </li>
          <li>
            NashCocktail
          </li>
          <li>
            User Group Lunches
          </li>
          <li>
            Help with Code Day or other community educational initiatives. 
          </li>
        </ul>
      </article>

      <article>
        <h3>
          Feeling awkward?
        </h3>
        <ul>
          <li>
            Buddy System
          </li>
          <li>
            Ask others about their interests
          </li>
          <li>
            Ask questions about the technology presented
          </li>
          <li>
            Be yourself! 
          </li>
        </ul>
      </article>

      <article>
        <h3>I'm always open.</h3>
        <p>Email: Rittycheriah@gmail.com</p>
        <p>Twitter: @RainuItty</p>
        <p>... Also one of the co-organizers for the Girl Geek Dinner :) </p>
        <img class='centered' style='height: 500px' src='http://i.giphy.com/TxqwNXORMpuc8.gif'>
      </article>

    </section>

  </body>
</html>
